n8n_clone/workflows/COFXD2kDMMfUSSnT_retell_inbound_calls.json
{
  "createdAt": "2025-09-22T16:23:27.761Z",
  "updatedAt": "2025-09-24T00:47:29.683Z",
  "id": "COFXD2kDMMfUSSnT",
  "name": "retell_inbound_calls",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "calendly-booking",
        "options": {}
      },
      "name": "Calendly Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        304,
        304
      ],
      "id": "85335c8c-a5c5-4799-8c19-2eb1e18f2615",
      "webhookId": "6b6c671a-10ab-4195-80a5-cc8c6ac26690"
    },
    {
      "parameters": {
        "functionCode": "const body = $json;\n\nfunction get(path, def = \"\") {\n  try {\n    return path.split('.').reduce((o, k) => (o && o[k] !== undefined ? o[k] : undefined), body) ?? def;\n  } catch { return def; }\n}\n\n// Calendly fields live under body.payload.*\nconst invitee = get('body.payload.name');\nconst email   = get('body.payload.email');\nconst eventType = get('body.event');\nconst start   = get('body.payload.scheduled_event.start_time');\nconst end     = get('body.payload.scheduled_event.end_time');\n\nconst raw = JSON.stringify(body, null, 2);\nconst max = 1900; // Discord message limit ~2000 chars\nconst snippet = raw.length > max ? raw.slice(0, max) + '\u2026' : raw;\n\nconst msg = `\ud83d\udcc5 New Calendly booking\nEvent: ${eventType}\nInvitee: ${invitee} (${email})\nStart: ${start}\nEnd: ${end}\n\nRaw:\n\\`\\`\\`json\n${snippet}\n\\`\\`\\``;\n\nreturn [{ json: { content: msg } }];\n"
      },
      "name": "Build Discord Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        528,
        304
      ],
      "id": "b8ab58ca-db69-4b34-9e00-4e0b73571550"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://discord.com/api/webhooks/1420194407541374997/ZQ_cATZ-wxdvV9sCDDcKJf7Y4EZgweMni5cPeiGeXL1tpezY17BxbJ5DIXDcc3GwWXUu",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "content",
              "value": "=\ud83d\udcc5 New Calendly booking\nEvent: {{$json[\"body\"][\"event\"]}}\nInvitee: {{$json[\"body\"][\"payload\"][\"name\"]}} ({{$json[\"body\"][\"payload\"][\"email\"]}})\nStart: {{$json[\"body\"][\"payload\"][\"scheduled_event\"][\"start_time\"]}}\nEnd: {{$json[\"body\"][\"payload\"][\"scheduled_event\"][\"end_time\"]}}"
            }
          ]
        }
      },
      "name": "Send to Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        768,
        304
      ],
      "id": "6af5ec31-bebf-4691-add7-5a58285d2595"
    }
  ],
  "connections": {
    "Calendly Webhook": {
      "main": [
        [
          {
            "node": "Build Discord Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Discord Message": {
      "main": [
        [
          {
            "node": "Send to Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "0b750175-f9e7-463f-8b6a-6a65728ff5ba",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-22T16:23:27.761Z",
      "updatedAt": "2025-09-22T16:23:27.761Z",
      "role": "workflow:owner",
      "workflowId": "COFXD2kDMMfUSSnT",
      "projectId": "QnZS644IJrqTdTYd",
      "project": {
        "createdAt": "2025-09-20T23:48:52.873Z",
        "updatedAt": "2025-09-20T23:51:48.407Z",
        "id": "QnZS644IJrqTdTYd",
        "name": "Anthony De Caro <anthony@thecallhero.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-20T23:48:52.873Z",
            "updatedAt": "2025-09-20T23:48:52.873Z",
            "userId": "77dce4c9-f982-4209-a648-9d170c21af50",
            "projectId": "QnZS644IJrqTdTYd",
            "user": {
              "createdAt": "2025-09-20T23:48:51.147Z",
              "updatedAt": "2025-09-24T00:23:33.263Z",
              "id": "77dce4c9-f982-4209-a648-9d170c21af50",
              "email": "anthony@thecallhero.com",
              "firstName": "Anthony",
              "lastName": "De Caro",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-20T23:52:06.003Z",
                "personalization_survey_n8n_version": "1.111.1",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "COFXD2kDMMfUSSnT",
                "userActivatedAt": 1758673412990
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-09-23",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}